body {
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 50px;
}
.hero-section {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
}
.hero-section h1 {
    font-size: 4em;
    margin-bottom: 20px;
}
.hero-section p {
    font-size: 1.5em;
    margin-bottom: 30px;
}